.pd-alert-container {
  border: 1px solid #9E9E9E;
  padding: 15px 15px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  
  .pd-card-description {
    margin-left: 20px;
    text-align: left;
  }
}
