.app__configurator {
  height: 100% !important;
  min-height: 100vh;
  .oc-price {
    display: flex;
    flex-direction: row !important;
    align-content: center;
    margin-top: 15px;
    font-weight: 700;
    font-size: 20px;
  }
  .step2-top-container {
    margin-top: 50px;
    height: auto;
    .step2-top-icon {
      margin-right: 20px;
    }
  }
  .option-card {
    width: 270px;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    //height: 612px;
    padding: 20px 20px 25px;
    //min-height: 100%;
    .oc-footer {
      text-align: center;
    }
    .oc-top {
      //padding: 10px 10px;
    }
    .oc-footer {
      text-align: center;
    }

    .oc-content {
      margin: 0 auto;
      .oc-title {
        text-align: center;
        margin-top: 15px;
      }

      .oc-subtitle {
        margin-top: 20px;
      }

      .oc-items {
        align: center;

        .oc-item {
          width: 21%;
          &-icon:before {
            content: "\E632";
            display: block;
            font-family: "anticon";
            font-size: 34px;
            font-weight: 100;
            width: 34px;
          }
          &-content {
            width: 100%;
            margin-left: 20px;
            font-style: 16px;
            font-weight: 600;
          }
        }
      }

      .oc-price {
        text-align: center;
        font-size: 21px;
        font-weight: bold;
        margin: 46px 0px;
      }
    }
  }

  .option-card.active {
    border-radius: 4px;
    //border: solid 5px #ff9797;
    box-shadow: 0 2px 20px 0 rgba(8, 10, 84, 0.26);
    outline: none;
  }

  .option-card.readonly {
    cursor: auto;
  }
}

@media screen and (min-width: $lg) {
  .app__configurator {
    .sign-up-container {
      .option-card {
        max-width: 270px;
        min-height: auto;
      }
    }
  }
}

@media screen and (min-width: $sm) and (max-width: $lg) {
  .app__configurator {

    .sign-up-container {
      .con-signup-container {
        margin: 50px 20px;
        width: auto;
      }
      .sidebar-content {
        height: auto;
        .sidebar-component {
          .option-card {
            max-width: 100%;
            min-height: auto;
            .oc-all-content-container {
              display: flex;
              flex-direction: row;
              .content-footer-container {
                text-align: left;
                .oc-footer {
                  text-align: left;
                }
                .oc-title {
                  text-align: left;
                }
              }
              .container-image {
                img {
                  max-width: 70%;
                }
              }
              .content-footer-container {
                margin-left: 50px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $xl) {
  .app__configurator {
    .step2-container {
      .option-card {
        width: 270px;
        margin-top: 50px;
      }
    }
  }
}
@media screen and (min-width: $sm) and (max-width: $xl) {
  .app__configurator {
    .step2-container {
      .option-card {
        max-width: 90%;
        margin-top: 50px;
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .app__configurator {
    .step2-top-icon {
      min-width: 20px;
      img {
        max-width: auto;
      }
    }
    .sidebar-sticky {
      position: relative;
      .sidebar-container {
        .sidebar-content {
          height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .app__configurator {
    .step2-container {
      .option-card {
        margin-top: 50px;
      }
    }
  }
}
