.pd-container {
  margin-top: 50px;
  .pd-title {
    font-size: 27px;
    font-weight: 600;
  }
  .pd-description-1 {
    margin-top: 20px;
    font-size: 13px;
  }
  .pd-description-2 {
    margin-top: 20px;
    font-size: 13px;
    margin-bottom: 20px;
  }
  .pd-list-container {
    ul.pd-list {
      list-style-type: disc;
      padding: none;
      margin: none;
      padding-inline-start: none;
      li {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }
  .pd-cards-container {
    border: 1px solid #9E9E9E;
    padding: 15px 15px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    .pd-card-description {
      font-size: 10px;
      margin-top: 10px;
    }
  }
  .ant-btn {
    width: 250px;
  }
}

.expire-quote-wrapper {
  background-color: $dark-indigo;
  display: flex;
  flex-direction: row;
  height: 100vh;
  .expire-quote-container {
    background-color: $white;
    padding: 102px 130px 79px 117px;
    font-family: $uni-font-regular;
    border-radius: 4px;
    box-shadow: 2px 4px 8px 0 rgba($shadow-color, 0.06);
    max-height: 500px;
    margin: 0 auto;
    align-self: center;

    .component-container {
      .title {
        font-size: 40px;
        margin-bottom: 13px;
      }
      .description-1 {
        margin-bottom: 20px;
      }
      .reminder {
        margin-bottom: 40px;
      }
    }
  }
}
