.eq-container-white {
  background: $white;
  border-radius: 4px;
  padding: 20px 25px;
  box-shadow: 2px 4px 8px 0 rgba(56, 56, 56, 0.06);
  .extras-item-control-descriptions {
    display: flex;
    flex-direction: row;
  }
  .d-grey {
    line-height: 44px
  }
}

.eq-container .eq-wrapper {
  padding: 30px 30px;

  .eq-container-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.eq-title-big {
  .tooltip-field i {
    margin-top: 0px;
  }
}

.eq-cost-per-tr-item:not(first-of-type) {
  margin-top: 10px;
}

.eq-content {
  margin-bottom: 100px;
}


.eq-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.eq-title {
  margin-top: 20px;

  &-big {
    margin-top: 50px;
  }
}

.eq-input-discount {
  min-width: 266px;
  margin-right: 15px;
}

.eq-total-price-label {
  align-self: center;
  margin-top: -3px;
  margin-right: 15px;
}

.eq-bottom-input-disc {
  margin-right: 15px;
}

@media screen and (max-width: $xl) {
  .extras-item {
    .extras-item-control.add-item {
      margin: 0;
    }
    .extras-item-control-descriptions {
      display: block;
      margin-left: 18px;
      text-align: left;
      align-self: center;
      .extras-item-control {
        text-align: left;
      }
    }
  }
  .discount-container {
    display: flex;
    flex-direction: column;
    .eq-bottom-input-disc {
      width: 100%;
    }
    .eq-total-price-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}

@media screen and (min-width: $sm) and (max-width: $lg) {
  .sidebar-relative-eq {
    .sidebar-sticky {
      position: relative;
      .sidebar-container {
        height: auto;
        .sidebar-content {
          margin: auto !important;
          height: auto;
          transform: none;
          .sidebar-component {
            .oc-all-content-container {
              display: flex;
              flex-direction: row;
              .content-footer-container {
                text-align: left;
                .oc-footer {
                  text-align: left;
                }
                .oc-title {
                  text-align: left;
                }
              }
              .container-image {
                img {
                  max-width: 70%;
                }
              }
              .content-footer-container {
                margin-left: 50px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: $sm) {
  .sidebar-relative-eq {
    .eq-wrapper {
      .eq-offer-valid {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .eq-title-big {
        margin-top: 20px;
      }
      .discount-container {
        .flex-mobile-column {
          margin-top: 10px;
          display: flex;
          flex-direction: column !important;
          text-align: right;
          .eq-total-price-label {
            text-align: right;
            width: 100%;
          }
        }
      }
      .eq-input-discount {
        min-width: 100%;
      }
      padding: 10px 10px;
      .eq-container-top {
        .eq-container-white {
          display: flex;
          flex-direction: column;
          .flex-mobile-column {
            display: flex;
            flex-direction: column !important;
          }
        }
      }
    }
    .sidebar-sticky {
      position: relative;
      .sidebar-container {
        height: auto;
        border-right: none;
        border-bottom: 8px solid $sidebar-border-grey;
        .sidebar-content {
          margin: auto !important;
          height: auto;
          transform: none;
          .sidebar-component {
            width: 100%;
            .oc-all-content-container {
                flex-direction: column;
              .container-image {
                img {
                  max-width: 70%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .flex-mobile-column {
    display: flex;
    flex-direction: column !important;
  }
}

@media screen and (min-width: $xl) and (max-width: $xxl) {
  .sidebar-relative-eq {
    .option-card {
      .container-image {
        img {
          max-width: 40%;
        }
      }
    }
  }
}

@media screen and (min-width: $lg) {
  .eq-footer .eq-container-white {
    padding-left: 30%;
    padding-right: 5%;
  }
}

