.ex-container .ex-wrapper {
  padding: 0px 30px 30px 30px;
}

.extras-item {
  border: 1px solid $white;
  &:hover {
    border: 1px solid $rusty-orange;
  }

  &.active {
    border: 1px solid $rusty-orange;
    background: rgba($rusty-orange, 0.04);
  }
}

.extras-item-control {
  align-self: center;

  &.add-item {
    margin: -2px 60px;
  }
}

.ex-price {
  margin-left: 20px;

  h6 {
    margin: 12px 0 0;
  }

  .subtitle {
    font-Size: 12px;
    text-align: right;
    display: block;
  }
}

.ex-total-cost {
  font-size: 24px;
  margin: 0px 35px;
}

@media screen and (max-width: $sm) {
  .ex-container {
    .ex-wrapper {
      padding: 10px 10px;
      .extras-item {
        .flex-mobile-column {
          margin-left: 20px;
        }
      }
      .ex-total-cost {
        font-size: 2rem;
        margin: 0 0 0 5px;
      }
      .ex-price {
        .subtitle {
          text-align: left;
        }
      }
    }
  }
}
