.oc2-container {
  .oc2-name {
    margin: 15px 0 15px 15px;
    font-weight: 600;
  }
  .option-card2 {
    border: 1px solid #BDBDBD;
    padding: 30px 30px;
    .oc-top {
      .oc-top-image {
        width: 100%;
        height: 150px;
        background-color: #616161;
        color: #fff;
        text-align: center;
        padding: 50px;
      }
    }
    .oc-content {
      padding: 10px 10px;
      .oc-title {
        margin-top: 15px;
        text-align: center;
        font-size: 25px;
        font-weight: 800;
      }
      .oc-subtitle {
        margin-top: 20px;
        text-align: center;
      }
      .oc-items {
        margin-top: 20px;
        .oc-item {
          margin-top: 10px;
          font-weight: 600;
        }
      }
    }
    .oc-footer {
      padding: 10px 10px;
      .oc-footer-title {
        font-weight: 600;
      }
    }
  }
}