.selectable-items-container {
  .radio-container {
    cursor: pointer;
    float: left;
    display: flex;
    border: 1px solid $white-gray;
    border-radius: 4px;
    padding: 12px 24px;
    width: 281px;
    margin: 4px;

    &.checked-field {
      border: 1px solid $rusty-orange;
      background: rgba($rusty-orange, 0.04);

      .image-label {
        background: rgba(232, 89, 13, 0.14);
        color: $rusty-orange;
      }
    }
  
    .image-label {
      background: $white-gray;
      border-radius: 50px;
      display: inline-block;
      width: 60px;
      height: 60px;
      text-align: center;
      vertical-align: top;
      line-height: 60px;
      font-size: 24px;
      color: $charcoal-grey;
    }
  
    .ant-radio-button-wrapper {
      border: none;
      height: auto !important;
      line-height: 21px;
      align-self: center;
      background: transparent !important;

      span {
        display: inline-block;
        font-family: $uni-font-regular;
        font-size: 18px;
        color: $charcoal-grey;
        max-width: 125px;
      }

      &.ant-radio-button-wrapper-checked {
        box-shadow: none;
      }
    }
  
    .ant-radio-button-wrapper:before {
      background: transparent;
    }
  }
}

@media screen and (min-width: $lg) and (max-width: $xl) {
  .selectable-items-container {
    display: flex;
    flex-direction: column;
    label {
      max-width: 294px;
      text-align: center;
    }
  }
}

@media screen and (max-width: $sm) {
  .selectable-items-container {
    label {
      text-align: center;
      width: 100%;
    }
    .radio-container {
      width: 100%;
      margin: 4px 0 4px 0;
    }
  }
}
