.ant-slider-step {
  background: $dark-indigo;
  border-radius: 8px;
  height: 16px;
}

.ant-slider-track {
  background: $rusty-orange;
  border-radius: 8px;
  height: 16px;
  z-index: 1;

  &:focus {
    background: rgba($rusty-orange, 0.9);
  }

  &:active {
    background: rgba($rusty-orange, 0.9);
  }

  &:hover {
    background: rgba($rusty-orange, 0.9);
  }
}

.ant-slider:hover {
  .ant-slider-track {
    background: rgba($rusty-orange, 0.9);
  }

  .ant-slider-handle {
    border: solid 5px rgba($rusty-orange, 0.9);
  }
}


.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
  border: solid 5px rgba($rusty-orange, 0.9);
}

.ant-slider:focus .ant-slider-handle {
  border: solid 5px rgba($rusty-orange, 0.9);
}

.ant-slider-dot {
  z-index: 2;
  top: 5px;
  width: 5px;
  height: 5px;
  border-color: transparent;

  &:first-child {
    display: none;
  }

  &:last-child {
    display: none;
  }
}

.ant-slider-handle {
  margin-left: -7px;
  margin-top: -7px;
  z-index: 2;
  width: 30px;
  height: 30px;
  border: solid 5px $rusty-orange;
}

.ant-slider-mark-text-active, .ant-slider-mark-text {
  font-family: $uni-font-regular !important;
  font-size: $font-size-body1;
  color: $charcoal-grey !important;
  margin-top: 10px;
}

.sc-mark-item {
  font-size: $font-size-body2;
  font-family: $uni-font-bold;
  color: $charcoal-grey;
}
