.app__configurator {
  height: 100vh;
  background-color: $white-gray;
  .con-signup-container {
    margin: 48px 0 0 0px;
    width: 100%;
    max-width: 1146px;
    .con-signup-title {
      margin-bottom: 16px;
      h6 {
        line-height: 32px;
      }
    }
    .con-signup {
      background-color: white;
      box-shadow: 2px 4px 8px 0 $box-shadow-color;
      border-radius: 4px;
      padding: 56px;
      width: 100%;
      .title1 {
        font-size: 22px;
        font-weight: bold;
      }
      .info-container {
        margin-top: 56px;
        width: 100%;
        .icon-container {
          width: 100%;
          max-width: 27px;
          height: 100%;
          margin-right: 16px;
          img {
            width: 27px !important;
            height: 32px !important;
          }
        }
      }

      .title2 {
        width: 80%;
        font-weight: bold;
        margin: 20px 0px;
      }
      .gdpr-container {
        max-width: 456px;
        .gdpr {
          width: 100%;
          margin: 24px 0px 24px 0px;
          display: flex;
          flex-direction: row;
          &-label {
            margin-left: 8px;

          }
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .app__configurator {
    .sidebar-container {
      height: auto;
      .sidebar-content {
        height: auto;
        .sidebar-component {
          .option-card {
            min-height: auto;
          }
        }
      }
    }
    .con-signup-container {
      width: auto;
      margin: 0 15px 40px 15px;
      .con-signup-title {
        padding: 15px;
      }
      .con-signup {
        padding: 20px;
        width: auto;
      }
    }
  }
}

@media screen and (min-width: $xl) and (max-width: $xxl) {
  .sign-up-container{
    .option-card {
      .container-image {
        img {
          max-width: 40%;
        }
      }
    }
  }
}
