.app__configurator {

  .sc-field {
    padding: 24px 28px;
    background-color: #fff;
  }
  
  .sc-row-wrapper {
    background-color: #fff;
    border-radius: 5px;
  }

  .sc-content {
    padding: 24px 24px 0px;
    padding-right: 24px;
  }

  .sc-title {
    //height: 32px;
    font-family: Montserrat;
    font-size: $sc-title-size;
    color: $sc-title-color;
    line-height: 1.33;
    font-weight: bold;
    letter-spacing: normal;
    font-stretch: normal;
  }
  

  .slider-description {
    display: inline-block;
    margin: 9px;
    width: 17px;
    height: 6px;
    border-radius: 3px;

    &.rusty {
      background-color: $rusty-orange !important;
    }

    &.indigo {
      background-color: $dark-indigo !important;
    }
  }

  .sc-label {
    height: 48px;
    font-family: Montserrat;

    font-size: $sc-label-size;
    color: $sc-label-color;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
  }

  .sc-slider-slider {
    margin-top: 30px;
    height: 75px;
    padding-left: 13px;
    padding-right: 25px;
    background-color: #fff;
    margin: none;
  }

  .sc-mark-item {
    position: absolute;
    top: -50px;
    left: -2px;
  }

  .sc-wrapper-button {
    display: flex;
    flex-direction: row;
    margin: 55px 0px;
    width: 100%;
  }
}

@media screen and (max-width: $sm) {
  .sc-wrapper-button {
    justify-content: center;
  }
}
