.selectable_item {
  height: auto !important;
  padding: 3px 9px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 4px !important;

  &:last-child {
    margin-right: 0px;
  }

  &.ant-radio-button-wrapper-checked {
    border: 1px solid $rusty-orange;
    background: rgba($rusty-orange, 0.04);
    box-shadow: none;

    // span {
    //   font-family: $uni-font-bold;
    // }
  }

  span {
    font-size: $font-size-label;
    font-family: $uni-font-regular;
    letter-spacing: 0.5px;
    color: $charcoal-grey;
  }
}

@media screen and (max-width: $sm) {
  .selectable_item {
    margin-right: 0;
  }
}
