*::selection {
  background-color: $dark-indigo;
}
label {
  font-family: $uni-font-regular;
  font-size: $font-size-label;
  color: $charcoal-grey;

  &.big {
    font-size: $font-size-h6;
  }
}

.form-field-row .error {
  color: $error-color;
}

.form-field {
  margin-top: 30px;
  max-width: 600px;

  .form-field-text, .form-field-drop_down {
    max-width: 390px;
  }

  .error {
    color: $error-color;
    font-size: $font-size-caption;
    font-family: $uni-font-regular;

    label {
      color: $error-color;
    }

    label.radio-required {
      span.ant-radio-inner {
        border-color: $error-color;
      }
    }
    &.active {
      input {
        border: 1px solid $error-color !important;
      }
    }
    input, .ant-select-selection {
      border: 1px solid $error-color !important;
    }
  }
}

.ant-btn {
  height: auto;
  padding: 13px 25px;
  background-color: $dark-indigo;
  border-radius: 4px;
  letter-spacing: 1px;
  font-family: $uni-font-bold;
  font-size: $font-size-button;
  color: $white;
  text-transform: uppercase;
  transition: background 0.2s;
  max-height: 44px;

  &:hover {
    background-color: rgba($dark-indigo, 0.85);
    color: $white;
  }
  &.small-padding {
    padding: 13px 28px;
  }
  &.secondary {
    background-color: $white;
    color: $violet-light;
    border: 1px solid $white;
    &:hover {
      background-color: $button-secondary-hover-color;
      border: 1px solid $button-secondary-hover-color;
    }
  }
  &.image-btn {
    border: none;
    padding: 0px 20px;
    background: transparent;
    color: $violet-light;
    text-transform: capitalize;

    i {
      color: $violet-light;
      font-size: 20px;
      padding: 0px 7px;
    }

    span {
      vertical-align: top;
      padding-top: 4px;
    }
  }

  &.medium {
    padding: 7px 28px;
    max-height: 32px;
  }

  &.small {
    padding: 3px 24px;
  }
}

.ant-radio-wrapper:hover .ant-radio .ant-radio-inner {
  border: 3px solid rgba($charcoal-grey, 0.25);
  background: rgba($charcoal-grey, 0.25);
}
.ant-radio:hover .ant-radio .ant-radio-inner {
  border: 3px solid rgba($charcoal-grey, 0.25);
  background: rgba($charcoal-grey, 0.25);
}
.ant-radio .ant-radio-inner {
  width: 16px;
  height: 16px;
  font-family: $uni-font-regular;
  border: 3px solid $white-gray;
  background: $white-gray;

  &:after {
    display: none;
  }
}

.ant-radio.ant-radio-checked .ant-radio-inner {
  border-color: $rusty-orange;

}

.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: $rusty-orange;

}

.ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-indeterminate .ant-checkbox-inner {
  background-color: $rusty-orange;
  border-color: $rusty-orange;
}
.blue-checkbox {
  .ant-checkbox-checked .ant-checkbox-inner  {
    border-color: $dark-indigo;
    background-color: $dark-indigo;
  }
  .ant-checkbox-inner {
    background-color: $white-gray;
    border-color: $white-gray;
  }
}


.tooltip-field i {
  font-size: 16px;
  color: $dark-indigo;
  vertical-align: middle;
  margin-left: 1rem;
  margin-top: 3px;
}

.field-input-text {
  display: flex;
  flex-direction: column;

  .description {
    font-size: 10px;
    color: #BDBDBD;
    margin-bottom: 10px;
  }
}

.ant-input {
  background: $white-gray;
  border: 1px solid $white-gray;
  color: $charcoal-grey;
  font-family: $uni-font-bold;
  font-size: $font-size-body1;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 12px;
  height: auto;

  &.white {
    background: $white !important;
  }

  &.small {
    padding: 5px 8px;
  }

  &.ant-input-disabled {
    font-family: $uni-font-regular;
    color: $light-grey-blue;
  }

  &:hover {
    border: 1px solid $light-grey-blue;
  }

  &:active {
    font-family: $uni-font-regular;
    border: 1px solid $light-grey-blue;
    outline-color: $white-gray;
  }

  &:focus {
    font-family: $uni-font-regular;
    border: 1px solid $light-grey-blue;
    outline-color: $white-gray;
  }
}

.spin-align {
  text-align: center;
  font-size: 35px;
  position: relative;
  height: 300px;
}

.spin-relative {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 50px;
}

.ant-spin-dot i {
  background-color: $dot-spinnet-color !important;
}

.flex-row {
  display: flex;
  flex-direction: row;

  &-center {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
  }

  &-justify-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end !important;
  }

  &-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
  }

  &-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
  }
}

.error-icon-container {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: red;
  text-align: center;
  line-height: 32px;

  i {
    font-size: 26px;
  }
}

.optional {
  color: #BDBDBD;
  margin-left: 5px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5em;
}

.api-error-confirm .ant-modal-confirm-btns {
  float: none;
  margin: 24px auto;
  text-align: center;
}

.white-grey-back-ground-wrapper {
  background-color: $white-gray;
}

.grey-back-ground {
  background-color: $white-gray;
}
.white-bgck-ground {
  background-color: $white;
}

a {
  color: $link-color-blue;
  text-decoration: none;
}

.container-white {
  background: $white;
  border-radius: 4px;
}

.sidebar-sticky {
  position: sticky;
  top: 0px;
}

.align-center {
  text-align: center;
}

.ant-tooltip {
  .ant-tooltip-content {
    .ant-tooltip-arrow {
      border-top-color: $white;
      box-shadow: 0 2px 20px 0 rgba(8, 10, 84, 0.26)
    }
    .ant-tooltip-inner {
      background-color: $white;
      padding: 9px 12px;
      box-shadow: 0 2px 20px 0 rgba(8, 10, 84, 0.26);
    }
  }
}

.hover-pointer {
  &:hover {
    cursor: pointer;
  }
}

.back-arrow {
  margin-right: 10px;
}

.ant-modal.modal-valid {
  width: 40%;
}
