.option-card {
  max-width: 100%;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  padding: 20px 20px;
  color: $charcoal-grey;
  max-height: 100%;
  box-shadow: 2px 4px 8px 0 rgba(56, 56, 56, 0.06);
  border: none;
  .oc-footer {
    text-align: center;
    .oc-button {
      margin-top: 18px;
    }
  }
  .oc-subtitle {
    text-align: left;
    margin-bottom: 10px;
  }
  .oc-top {
    img {
      max-width: 100px;
    }
  }
  .oc-content {
    margin: 0 auto;
    .oc-title {
      text-align: center;
      margin-top: 9px;
    }

    .oc-subtitle {
      margin-top: 20px;
    }

    .oc-items {
      min-height: 55px;
      .oc-item {
        &-icon:before {
          content: "\E632";
          display: block;
          font-family: "anticon";
          font-size: 34px;
          font-weight: 100;
          width: 34px;
        }
        &-content {
          width: 100%;
          margin-left: 20px;
          font-style: 16px;
          font-weight: 600;
        }
      }
    }

    .oc-price {
      text-align: center;
      font-size: 21px;
      font-weight: bold;
      margin: 46px 0px;
    }
  }

}

.option-card.active {
  border-radius: 4px;
  //border: solid 5px #ff9797;
  outline: none;
}

.option-card.readonly {
  cursor: auto;
}

// OPTION_CART_SIDEBAR
.oc-sidebar {
  max-width: 270px;
}
