.field-boxed_radio_group {
  margin-bottom: 20px;
  .description {
    margin-bottom: 20px;
    font-size: 12px;
    color: $charcoal-grey;
  }
  .radio-container {
    min-height: 80px;
    border-radius: 4px;
    padding: 0px 20px;
    border: 1px solid $white-gray;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;

    &.checked-field {
      border: 1px solid $rusty-orange;
      background: rgba($rusty-orange, 0.04);
    }

    .radio-container-field {
      display: flex;
      max-height: 100px;
      align-items: center;
    }
    .container-titles {
      color: $charcoal-grey;
      padding: 20px 40px;

      label {
        font-size: 16px;
      }

      .radio-label2 {
        font-size: 14px;
      }
    }
    .radio-input {
      margin-left: 15px;
    }
  }
  .form-field {
    .ant-radio-group {
      label {
        font-size: 12px;
      }
    }
  }
  label.ant-radio-wrapper {
    margin: 0px 0px;
    margin-top: 0px !important;
  }
}
