.field-boxed-checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding: 0 20px;
  border: 1px solid $white-gray;
  margin-bottom: 15px;
  border-radius: 4px;

  &.checked {
    border: 1px solid $rusty-orange;
    background: rgba($rusty-orange, 0.04);
  }

  .container-titles {
    color: $charcoal-grey;
    padding: 20px 40px;

    label {
      font-size: 16px;
    }
  
    .help {
      font-size: 14px;
    }
  }

  .field {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
}
