.field-boxed-checkbox-group {
  margin-bottom: 20px;
  .field-checkbox-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 0 20px;
    border: 1px solid $white-gray;
    margin-bottom: 15px;
    border-radius: 4px;

    &.checked-field {
      border: 1px solid $rusty-orange;
      background: rgba($rusty-orange, 0.04);
    }

    .container-labels {
      color: $charcoal-grey;
      padding: 20px 40px;

      .description {
        color: #BDBDBD;
        max-width: 311px;
        font-size: 11px;
        word-wrap: break-word;
      }
    }
    .field {
      margin-left: 15px;
      display: flex !important;
      align-items: center !important;
      margin-left: 15px;
    }
  }
}
