.field-date {
  margin-top: 15px;
  margin-bottom: 15px;
  .day {
    max-width: 50px;
    margin-right: 15px;
  }
  .month {
    max-width: 50px;
    margin-right: 15px;
  }
  .year {
    max-width: 100px;
    margin-right: 15px;
  }
}
