.field-drop-down {
  margin-bottom: 15px;
}

.field-drop-down .ant-select .ant-select-selection {
  background: $white-gray;
  border: 1px solid $white-gray;
  color: $charcoal-grey;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 12px;
  height: auto;
}

.field-drop-down .ant-select .ant-select-selection .ant-select-selection__rendered {
  margin: 0;
  line-height: inherit;
}

.ant-select-dropdown-menu-item-selected {
  background: $dark-indigo;
  color: $white !important;
}

.ant-select-dropdown-menu-item {
  color: $charcoal-grey;
}
.ant-select-dropdown-menu-item:hover {
  background: rgba($dark-indigo, 0.1);
}
