.container-loading-page {
  .title {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 15px;
  }
  .description {
    text-align: center;
    margin-bottom: 50px;
  }
  .loader {
    position: relative;
    margin: 100px;
    
    .spin-align {
      min-height: 300px;
      .ant-spin.ant-spin-lg.ant-spin-spinning.spin-relative {
        position: relative;
        top: 0px !important;
        left: 50% !important;
      }
    }
  }
}
