.modal-validate-content {
  text-align: center;
  padding: 50px;

  .modal-success-message {

    &.error {
      i {
        color: $error-color;
      }
      .modal-item .value {
        padding: 5px 10px;
        font-size: $font-size-body1;
        border-radius: 4px;
        background: $white-gray;
      }
    }

    i {
      color: $green-blue;
      font-size: $font-size-h5;
      margin-bottom: 20px;
    }
    .modal-item {
      margin-bottom: 20px;
      text-align: left;
      color: $dark-indigo;

      .label {
        font-family: $uni-font-regular;
        font-size: $font-size-caption;
        margin-bottom: 10px;
      }
      .value {
        font-family: $uni-font-bold;
        font-size: $font-size-body2;
        padding: 1px 0px;
      }
    }
  }
}
