.receipt-container {
  border: 2px rgba($charcoal-grey, 0.33) dashed;
  border-radius: 4px;
  padding: 32px 32px 19px 32px;
  line-height: 15px;
  margin-top: 100px;
  max-width: 307px;
  word-wrap: break-word;
  width: 100%;
  .card-account-container {
    margin-bottom: 35px;
    //FIXME: (remove this class)
    .flex-justify-space-between {
      justify-content: space-between;
    }
  }
  .phone-number {
    margin-top: 27px;
  }
  .bold {
    font-weight: 700;
    line-height: 1.5em;
    font-size: $font-size-body2;
  }
  .regular {
    font-weight: 300;
    line-height: 1.71em;
  }
  .date-time-container {
    margin-top: 20px;
  }
  .message {
    text-align: center;
    margin-top: 20px;
    line-height: 1.31em;
    margin-bottom: 24px;
    .custom-message {
      margin-bottom: 4px;
    }
  }
  .card-holder {
    margin-top: 20px;
    font-weight: 800;
  }
  .price {
    margin-top: 43px;
    margin-bottom: 55px;
    line-height: 0.75em;
  }
}
