.review-container {
  position: relative;
  .review-content-container {
    display: flex;
    flex-direction: row;
    .review-content-sections {
      width: 100%;
      max-width: 870px;
    }

  }
  .review-close-container {
    margin-top: 30px;
    font-family: $uni-font-regular;
  }
  .field-review-application {
    .title {
      margin-top: 50px;
      margin-bottom: 8px;
      h5 {
        line-height: 32px;
      }
    }
    .description-review {
      margin-bottom: 112px;
      line-height: 24px;
      font-family: $uni-font-regular;
    }

  }

  .bundle-container {
    margin-left: 24px;
    max-width: 380px;
    .quote-container {
      border-radius: 4px;
      display: flex !important;
      flex-direction: row !important;
      align-items: center !important;
      justify-content: center;
      margin-bottom: 20px;
      background-color: $white;
      .option-card {
        @media screen and (max-width: $md) {
          width: 100%;
          .oc-content {
            .oc-items {
              text-align: center;
            }
          }
        }
        width: 328px;
        background-color: $white;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        cursor: pointer;
        height: 100%;
        padding: 10px 15px;
        .oc-footer {
          text-align: center;
        }

        .oc-content {

          margin: 0 auto;

          .oc-title {
            text-align: center;
            height: 34px;
            font-size: 20px;
            font-weight: bold;
            margin-top: 15px;
          }

          .oc-subtitle {
            height: 38px;
            font-size: 16px;
            margin-top: 20px;
          }

          .oc-items {
            text-align: center;
            min-height: 85px;

            .oc-item {
              display: flex;
              align-items: center;

              &-icon:before {
                content: "\E632";
                display: block;
                font-family: "anticon";
                font-size: 34px;
                font-weight: 100;
                width: 34px;
              }
              &-content {
                width: 100%;
                margin-left: 20px;
                font-weight: 600;
              }
            }
          }

          .oc-price {
            text-align: center;
            font-size: 21px;
            font-weight: bold;
            margin: 46px 0px;
          }
        }

      }
    }
  }
  // .review-sections-container {
  //   margin: 72px 149px 0 154px;
  // }
}

.review-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 28px 150px 28px 0px;
  background-color: $white;
  box-shadow: 0 2px 20px 0 rgba(8, 10, 84, 0.26);
  .tac {
    display: none;
  }
  .review-buttons-container {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: $xl) {
  .review-container .bundle-container {
    max-width: 330px;
  }
}
@media screen and (max-width: $lg) and (max-width: $xl) {
  .review-container {
    .review-footer-container {
      padding: 18px 28px 18px 0;
      .tac {
        display: none;
      }
    }
    .review-sections-container {
      max-width: 600px;
      //margin: 72px 30px 64px;
      .review-content-container {
        display: flex;
        flex-direction: column-reverse;
        .bundle-container {
          margin: 0;
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: $md) {
  .review-container {
    .review-footer-container {
      padding: 18px 28px 18px 0;
      .tac {
        display: block;
      }
    }
  }
}



@media screen and (min-width: $lg) and (max-width: $xl) {
  .review-container {
    .review-content-container {
      flex-direction: column-reverse;
    }
    .bundle-container {
      margin-left: 0px;
      max-width: 100%;
      .quote-container {
        .option-card {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: $md) {
  .review-container {
    .bundle-container {
      .quote-container {
        .option-card {
          width: 100%;
          .oc-content {
            .oc-items {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $sm) and (max-width: $lg) {
  .review-container {
    .sidebar-container {
      min-height: 100vh;
      border-bottom: none;
      border-right: 8px solid $sidebar-border-grey;
    }
  }
}
