.tac_sepa {
  border-bottom: 1px solid $white-gray;
  margin-bottom: 20px;
  padding: 20px 0px;

  .field-checkbox {
    max-width: 100%;
    text-align: left;

    .label {
      font-size: $font-size-label;
    }
  }
}

.tac-footer {
  &-help {
    text-align: left;
  }

  &-btns {
    flex-direction: row-reverse;
    display: flex;

    button:nth-child(2) {
      margin-right: 10px;
    }
  }
}
