.field-main-title {
  max-width: 835px;
  color: $charcoal-grey;

  .title {
    font-size: $font-size-h5;
    font-family: $uni-font-bold;
    margin-bottom: 10px;
  }
  .subtitle {
    font-size: $font-size-body1;
    font-family: $uni-font-regular;
  }
}

.field-title {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
}
