.form-field-vertical_radio_btns {
  .field-vertical-radio {
    .label-container {
      margin-bottom: 10px;
      display: flex;
      direction: row;
    }
    .title {
      font-weight: 700;
      margin-bottom: 15px;
      margin-right: 10px;
    }
  }
}
