.warning-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #FFE082;
  padding: 10px 10px;
  margin-top: 15px;
  font-size: 14px;
  .icon {
    margin-right: 20px;
    display: flex;
    align-items: center;
    .icon-item {
      text-align: center;
      background-color: #FFE082;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      &::before {
        content: "!";
        font-size: 25px;
      }
    }
    i {
      //color: #FFE082;
      font-size: 30px;

    }
  }
}
