.field-text-bold {
  .help {
    font-size: 10px;
    color: #BDBDBD;
    margin-bottom: 10px;
  }
  .container-labels {

  }
  input {
    font-weight: bold;
    font-size: 14px;
    max-width: 390px;
    width: 390px;
  }
  input:focus {
    background-color: #fff !important;
  }
  .field {
    .field-button {
      margin-left: 10px;
      span {
        color: #000;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .field-text-bold {
    .field-input {
      width: 100%;
      input {
        width: 95%;
      }
    }
  }
}
