.error-page-container {
  padding-top: 50px;
  max-width: 584px;
  font-size: 18px;
  font-weight: 500;
  .title {
    font-size: 35px;
    margin-bottom: 25px;
  }
  .subtitle {
    margin-bottom: 25px;
  }
}
