.read-chapter-form {
  margin-bottom: 16px;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 2px 4px 8px 0 rgba(56, 56, 56, 0.06);
  padding: 40px 68px 32px 63px;
  .read-field-row-container {
    padding: 10px 15px;
    .read-field-row {
      margin-bottom: 16px;
      .label {
        line-height: 21px;
        margin-top: 32px;
      }
      .value {
        line-height: 24px;
      }
    }
    .form-field-row-read-title {
      margin-bottom: 10px;
      margin-top: 20px;
      font-weight: 600;
      font-size: 14px;
    }
    .chapter-title {
      line-height: 1.33em;
      margin-bottom: 32px;
      h6 {
        margin-right: 8px;
      }
      i {
        color: $suc-color;
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  .edit-button {
    border-top: 1px solid #FFFFFF;
    button {
      color: #000;
      width: 100%;
      padding: 0px 0px;
      height: 100%;
      background-color: #BDBDBD;
      border-radius: 0px;
      border: none;
      padding: 5px;
      font-weight: 400;
      text-align: center;
      &:hover {
        overflow: hidden;
        outline: none;
        border: none;
        transition: 1s ease;
        background-color: #9E9E9E;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .read-chapter-form {
    padding: 40px 30px 32px;
  }
}
