<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>React-Redux-Saga Boilerplate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
  <link rel="shortcut icon" href="assets/media/favicon.ico">
  <style type="text/css">.app { opacity: 0 }</style>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <script>
    window.configSettings = <%=JSON.stringify(htmlWebpackPlugin.options.configSettings) %>
    configSettings.statePageSetting = 0
    configSettings.isInternalUser = false
  </script>
</head>
<body>

<div id="package-configure-page" style="min-height: 100vh;">
  <% for (var chunk in htmlWebpackPlugin.options.externals) { %><script src="<%=htmlWebpackPlugin.options.externals[chunk] %>"></script><% } %>
  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %><script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script><% } %>
</div>

</body>
</html>
