$media-path: '../../assets/media/';
$font-path: '../../assets/fonts/';

$header-height: 7rem;
$footer-height: 4.8rem;

$app-color: #00b4d5;

$app-easing: cubic-bezier(0.35, 0.01, 0.77, 0.34);

// *** Colors
$dark-indigo: #080a54; 
$rusty-orange: #e8590d;
$white-gray: #f1f1f4;
$charcoal-grey: #37384c;
$light-grey-blue: #a0a1cc;
$violet-light: #6b6cb3;
$green-blue: #00bc7e;
$error-color: #d32d4e;
$white: #ffffff;
$sidebar-border-grey: #dbdbe5;
$link-color-blue: #0008ef;
$dot-spinnet-color: #a0a1cc;
// *** Button colors
$button-secondary-hover-color: #f5f5f7;

// *** Font colors Design
$shadow-color: #383838;
$a-medium: #6b6cb3;
$a-lighter: #a0a1cc;
$links: #2f00ef;
$err-color: #D32D4E;
$suc-color: #12BD8D;
$war-color: #E8B82F;
  // *** Font colors our
$sc-title-color: #000000;
$sc-label-color: #888888;

$font-main-color: #6b7072;
$font-active-color: #dc4405;

$bg-color: #f5f5f5;
$dark-orange: #E65100;
$orange: #dc4405;
$light-grey: #6b7072;
$dark-grey: #75787b;
$white: #fff;
$black: #000;
$grey100: #FAFAFA;
$grey200: #F5F5F5;
$grey300: #E0E0E0;
$grey400: #BDBDBD;
$grey500: #9E9E9E;
$grey600: #757575;
$box-shadow-color: rgba(56, 56, 56, 0.06);
// *** Font sizes
$sc-title-size: 24px;
$sc-label-size: 16px;

// *** Screen break-points
$xs: 575px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;
