@import './_typography';

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic-diagram-arrow-left:before {
  content: '\e90e';
}

.icon-ic-diagram-arrow-right:before {
  content: '\e90f';
}

.icon-concardis-logo-small:before {
  color: $white;
  content: '\e913';
  font-size: $logo-size;
}

.icon-ic-info-hint:before {
  content: '\e910';
}

.icon-ic-reset:before {
  content: '\e911';
}

.icon-ic-down:before {
  content: '\e912';
}

.icon-gesture-tap-clock:before {
  content: '\e901';
  font-size: 68px;
}

.icon-ic-info:before {
  color: $dark-indigo;
  content: '\e902';
  font-size: 30px;
}

.icon-timer-10:before {
  content: '\e903';
  font-size: 68px;
}

.icon-time-stopwatch-quarter:before {
  content: '\e900';
  font-size: 68px;
}

.icon-ic-edit:before {
  content: '\e904';
  font-size: 24px;
}

.icon-reception-hotel:before {
  content: '\e908';
}

.icon-fast-food-burger-drink:before {
  content: '\e905';
}

.icon-insurance-hands:before {
  content: '\e906';
}

.icon-network-question:before {
  content: '\e907';
}

.icon-restaurant-eating-set:before {
  content: '\e909';
}

.icon-goods-store:before {
  content: '\e90a';
}

.icon-ic-forward:before {
  content: '\e90b';
}

.icon-shape:before {
  content: '\e90d';
}

.icon-concardis-logo:before {
  color: $white;
  content: '\e90c';
  font-size: $logo-size;
}

