$uni-font-regular: 'UniNeueRegular';
$uni-font-bold:    'UniNeueBold';

$font-family-sans-serif: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-size-xs: 1.2rem;
$font-size-sm: 1.4rem;
$font-size-base: 1.6rem;
$font-size-lg: 2rem;

$line-height: 1.3;

$font-size-h2: 44px;
$font-size-h3: 38px;
$font-size-h4: 32px;
$font-size-h5: 24px;
$font-size-h6: 18px;
$font-size-body2: 16px;
$font-size-body1: 14px;
$font-size-label: 14px;
$font-size-button: 12px;
$font-size-caption: 12px;
$font-size-oveline: 11px;

$headings-font-family: Lato;
$headings-font-weight: 700;

// *** Logo size
$logo-size: 40px;

// *** Icons size
.icon-24x-24x {
  width: 24px;
  height: 24px;
}
// *** Colors
.r-orange {
  color: $rusty-orange;
}
.white {
  color: $white;
}
.success {
  color: $green-blue;
}
.error {
  color: $error-color;
}
.d-grey {
  color: $charcoal-grey !important;
}
.l-grey {
  color: $white-gray;
}
.d-indigo {
  color: $dark-indigo !important;
}
.a-medium {
  color: $a-medium;
}
.a-lighter {
  color: $light-grey-blue;
}
.links {
  color: $links;
}
// *** Font-weight
.regular {
  font-weight: 300;
  font-family: $uni-font-regular !important;
}
.bold {
  font-weight: 700;
  font-family: $uni-font-bold !important;
}

h2 {
  font-size: $font-size-h2 !important;
  font-family: $uni-font-regular !important;
}
h3 {
  font-size: $font-size-h3 !important;
  font-family: $uni-font-regular !important;
}
h4 {
  font-size: $font-size-h4 !important;
  font-family: $uni-font-regular !important;
}
h5 {
  font-size: $font-size-h5 !important;
  font-family: $uni-font-regular !important;
}
h6 {
  font-size: $font-size-h6 !important;
  font-family: $uni-font-regular !important;
}
.text-body-1 {
  font-size: $font-size-body1 !important;
}
.text-body-2 {
  font-size: $font-size-body2;
}

.text-body-caption {
  font-size: $font-size-caption !important;
  font-family: $uni-font-regular !important;
}
