.order-container {
  margin-bottom: 23px;
  .order-title {
    line-height: 24px;
    border-bottom: 2px solid $sidebar-border-grey;
    padding: 0 0 11px 0;
  }
  .order-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 32px;
    padding: 11px 0 11px 0;
    border-bottom: 2px solid $sidebar-border-grey;
    color: $charcoal-grey;
    font-size: $font-size-body2;

    &-title {
      font-family: $uni-font-regular;
      text-align: left;
      max-width: 60%;
    }
    &-price {
      font-family: $uni-font-bold;
      max-width: 100%;
    }
  }
}
