.sidebar-container {
  background-color: rgba($dark-indigo, 0.8);
  min-height: 100vh;
  border-right: 8px solid $sidebar-border-grey;
  font-family: $uni-font-regular !important;
  background-repeat: no-repeat;
  background-size: cover;

  .sidebar-content {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .sidebar-component {
     max-width: 270px;
    display: inline-block;
    .back-button {
      margin-bottom: 43px;
      cursor: pointer;
      .icon-ic-diagram-arrow-left:before {
        font-size: $font-size-label;
        margin-right: 10px;
      }
    }
    .sidebar-logo {
      margin-top: 62px;
      margin-bottom: 75px;
    }
    .sidebar-toggle-bundle {
      margin-bottom: 10px;
    }

    .sidebar-title {
      margin-bottom: 24px;
      line-height: 24px;
    }
  }
  .sidebar-tac {
    // margin: 65px 98px 0 83px;
  }
}

@mixin sidebar-component-flex-mixin() {
         max-width: 100%;
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-between;
       }

@media screen and (max-width: $lg) {
  .sidebar-container {
    min-height: auto;
  }
  .TAC-container {
    display: none;
  }
  .sidebar-relative-eq {
    .oc-sidebar {
      max-width: 100%;
    }
  }
}

@media screen and (min-width: $sm) and (max-width: $xl) {
  .sidebar-container .sidebar-component {
    margin: 0px 52px 33px;
    padding-top: 0;
    .oc-sidebar {
      width: 100%;
    }
    .option-card {
      width: 100%;
    }
    .sidebar-title {
      margin-bottom: 17px;
    }
    .sidebar-logo {
      margin-top: 47px;
      margin-bottom: 37px;
    }
    .back-button {
      margin-bottom: 36px;
    }
  }
}

@media screen and (min-width: $sm) and (max-width: $lg) {
  .app-form-sidebar-container {
    .sidebar-container {
      min-height: 100vh;
      border-bottom: none ;
      border-right: 8px solid $sidebar-border-grey;
      .sidebar-content {
        width: auto;
        .sidebar-title {
          display: none;
        }
        .sidebar-component {
          width: auto;
        }
      }
    }
  }
  .review-container {
    .sidebar-container {
      .sidebar-content {
        width: auto;
        .sidebar-title {
          display: none;
        }
        .sidebar-component {
          width: auto;
        }
      }
    }
  }
  .sign-up-container {
    .sidebar-container {
      .sidebar-component {
        @include sidebar-component-flex-mixin();
      }
    }
  }
  .package-configure {
    .sidebar-container {
      .sidebar-component {
        @include sidebar-component-flex-mixin();
      }
    }
  }
  .start-app-sidebar-container {
    .sidebar-container {
      .sidebar-component {
        @include sidebar-component-flex-mixin();
      }
    }
  }

  .sidebar-container {
    border-bottom: 8px solid $sidebar-border-grey;
    border-right: none;
    height: auto;
    .sidebar-content {
      width: 100%;
      .sidebar-component {
        width: 100%;
        max-width: initial;
      }
    }
  }
  .start-app-sidebar-container {
    .sidebar-sticky {
      position: relative;
    }
    .start-app-container {
      margin: 5%;
      .features-container {
        flex-direction: column;
        margin-top: 40px;
        .feature-item {
          margin-bottom: 30px;
          display: flex;
          flex-direction: row;
          width: 100%;
          .icon {
            margin-bottom: 0;
          }
          .description {
            display: flex;
            flex-direction: row;
            align-self: center;
            margin-left: 40px;
          }
        }
      }
    }
    .sidebar-container {
      border-bottom: 8px solid $sidebar-border-grey;
      border-right: none;
      height: auto;
      .sidebar-content {
        margin-left: auto !important;
        height: auto;
        transform: none;
        .sidebar-component {
          .option-card {
            .oc-all-content-container {
              .oc-top {
                .container-image {
                  img {
                    max-width: 70%;
                  }
                }
              }
              display: flex;
              flex-direction: row;
              .content-footer-container {
                margin-left: 50px;
                .oc-content {
                  .oc-items {
                    min-height: 35px;
                    .oc-item {
                      img {
                        width: 100%;
                      }
                    }
                  }
                  .oc-title {
                    text-align: left;
                  }
                }
                .oc-footer {
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $sm)  {
  .sidebar-container {
    border-right: none;
    border-bottom: 8px solid $sidebar-border-grey;
    .sidebar-component {
      margin: 0px 15px 15px;
      max-width: 100%;
      width: 100%;
      .option-card {
        max-width: 100%;
        width: 100%;
      }
      .sidebar-title {
        margin-bottom: 16px;
      }
      .back-button {
        margin-bottom: 26px;
      }
      .sidebar-logo {
        margin-top: 35px;
        margin-bottom: 40px;
      }
    }
  }
  .start-app-sidebar-container {
    .sidebar-sticky {
      position: relative;
    }
    .start-app-container {
      margin: 5%;
      .features-container {
        flex-direction: column;
        margin-top: 40px;
        padding: 5%;
        .feature-item {
          margin-bottom: 30px;
          display: flex;
          flex-direction: row;
          width: 100%;
          .icon {
            margin-bottom: 0;
          }
          .description {
            display: flex;
            align-self: center;
            margin-left: 20px;
            text-align: left;
          }
        }
      }
    }
    .sidebar-container {
      border-bottom: 8px solid $sidebar-border-grey;
      border-right: none;
      height: auto;
      .sidebar-content {
        margin-left: auto !important;
        height: auto;
        transform: none;
        .sidebar-component {
          width: 100%;
          .option-card {
            .oc-all-content-container {
              .oc-top {
                .container-image {
                  img {
                    max-width: 70%;
                  }
                }
              }
              .content-footer-container {
                .oc-content {
                  .oc-items {
                    min-height: 35px;
                    .oc-item {
                      img {
                        width: 100%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .sidebar-container {
    .sidebar-content {
      justify-content: start;
      .option-card {
        .oc-all-content-container {
          flex-direction: column;
        }
      }
    }
  }
  .review-container {
    .sidebar-sticky {
      position: relative;
    }
  }
}

@media screen and (min-width: $lg) {
  .sidebar-container {
    .sidebar-component {
      margin-bottom: 100px;
    }
  }
}
